html {
    margin: 0;
    padding: 0;
    --primary-bg: #4B8DA6;
    --primary-text: #4B8DA6;
    --secondary-text: #607780;
}

* {
    box-sizing: border-box;
}

body {
    padding: 5em;
    background: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 10.5pt;
}

#cv-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cv {
    width: 21cm;
    height: 29.7cm;
    background-color: #fff;
    overflow: hidden;
    padding: 1em
}

.monospace {
    font-family: 'Fira Code', monospace;
}

#admin-section {
    background-color: #BFEEFF;
    display: flex;
    padding: 0 1em;
}

#admin-section-contact-informations {
    flex-grow: 2;
}

#admin-section-me {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

#admin-section-me>img {
    margin: 1em 0;
    width: 3.5cm;
    aspect-ratio: 1;
}

.section-title {
    background-color: var(--primary-bg);
    color: #fff;
    padding: .2em 1em;
    margin: .5em 0
}

.tag-like::after {
    content: '/>';
}

.tag-like::before {
    content: '<';
}

a,
a:visited,
a:hover,
a:active {
    color: var(--primary-text);
    text-decoration: underline;
}

.no-style-list li {
    list-style-type: none;
    margin: 0;
}

.no-style-list li:not(:last-child) {
    padding-bottom: .5em;
}

ul.no-style-list {
    padding: 0;
}

.timeline-card {
    margin-left: 40px;
    position: relative;
}

.ctn {
    overflow: hidden;
}

.timeline-card:not(:nth-child(1)):before {
    content: '';
    position: absolute;
    left: -25px;
    width: 14px;
    height: 14px;
    background: #D1D6E6;
    border-radius: 7px;
}

.timeline-card:nth-child(1)::before {
    content: '';
    position: absolute;
    left: -26px;
    /* width: 24px;
    height: 24px;
    background: #D1D6E6;
    border-radius: 7px; */
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #D1D6E6;
}

.timeline-card::after {
    content: '';
    position: absolute;
    left: -25px;
    top: 1em;
    height: 100%;
    width: 2px;
    background: #D1D6E6;
    margin-left: 5.3px;
}

.card * {
    margin: 0;
}

.card {
    padding-top: .5em;
}

em {
    color: var(--primary-text);
    font-weight: bold;
}

li {
    list-style-type: '- ';
}

li.target {
    list-style-type: '> ';
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }
    body {
        padding: 0;
        overflow: hidden;
        display: block;
    }
}

@page {
    size: auto;
    margin: 0mm;
}

.card ul {
    padding-left: 2em;
}

#main-title {
    margin: .5em 0;
}

#name {
    margin: .5em 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em 0;
}

.skills-grid>span {
    text-align: center;
}

.horizontal-separator {
    width: 100%;
    height: .8em;
}

.date {
    color: var(--secondary-text);
}

.date::after {
    color: #000;
    content: " - ";
}

.skill-title {
    color: var(--secondary-text);
    margin: 0;
    font-size: 11pt;
}

#action-row {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 50;
}

#action-row .btn {
    height: 50px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0 1em;
    font-size: 14pt;
    transition-property: background-color;
    transition-duration: .2s;
}

#action-row .btn:hover {
    background-color: #444;
}

.ctn.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}